.full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .scannerFooter {
    left: 0;
    bottom: 0;
    position: absolute;
    height: 6em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.8);
  }

  .icon {
    width: 2.5em;
    height: 2.5em;
    pointer-events: all;
    cursor: pointer;
  }

  .shutter {
    width: 4em;
    height: 4em;
    margin-top: calc(var(--shutter-size) / -2);
    margin-left: calc(var(--shutter-size) / -2);
    border-radius: 100%;
    background-color: rgb(198, 205, 216);
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .shutterButton {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }

  .shutterButton:active {
    background-color: rgb(220, 220, 220);
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }

  .detectedPolygon {
    stroke:green;
    stroke-width: 2;
    fill:lime;
    opacity: 0.3;
  }

  .vertice {
    stroke:darkgreen;
    stroke-width: 3;
    fill: rgba(0,255,0,0.3);
  }

  .scanner {
    background: black;
  }

  .cropper {
    background: black;
  }

  .okayCancelFooter {
    left: 0;
    bottom: 0;
    position: absolute;
    height: 6em;
    width: 100%;
    pointer-events: none;
  }

  .okay {
    position: absolute;
    top: 50%;
    right: 2em;
    transform: translate(0, -50%);
  }

  .cancel {
    position: absolute;
    top: 50%;
    left: 2em;
    transform: translate(0, -50%);
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
  }

  .filterList {
    position: absolute;
    top: 3em;
    left: 0;
    height: 4em;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
  }

  .filterImg {
    display: block;
    margin: 0 auto;
    height: 2.5em;
  }

  .filterImg.selected {
    border: 1px solid #fe8e14;
  } 

  .filterItem {
    margin-left: 1em;
  }

  .filterLabel {
    text-align:center;
    color:white;
    height: 1em;
  }

  .invert {
    filter:invert(1);
    background: black;
    border-radius: 10px;
  }

  .enabled {
    filter: sepia(100%) saturate(100) hue-rotate(1400deg);
  }

  #normalized {
    max-width: 100%;
    max-height: 100%;
  }

  .results img {
    max-width: 100%;
  }

  body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin             : 0;
    padding            : 0;
    font-family        : "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight        : 400;
    font-style         : normal;
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

.home,
.do-again,
.instruction {
    overflow  : auto;
    height    : 100%;
    text-align: center;
}

.text-white{
    color: #fff;
}
.text-center{
    text-align: center;
}
.icon.w-24{
    width: 24px;
}
.width-100{
    width: 160px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.startCameraBtn {
    padding         : 15px 50px;
    color           : #fff;
    background-color: #0cb2b0;
    cursor          : pointer;
    border          : none;
    font-size       : 18px;
    font-weight     : 400;
    margin          : 20px 0;
    border-radius   : 50px;
}

.d-flex {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : 100%;
}

.d-flex .fa-1x {
    font-size  : 24px;
    margin-left: 7px;
}

.d-flex.success {
    color: green;
}

.d-flex.fail {
    color: red;
}

.d-column {
    flex-direction: column;
}

  .mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .status {
    color:white;
  }

  .imageContainer {
    overflow: auto;
    width: 100%;
    height: calc(100% - 3em);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 3em;
  }


  /**** card animation ****/

  :root {
    --hue: 223;
    --bg: hsl(var(--hue),10%,90%);
    --fg: hsl(var(--hue),10%,10%);
    --primary: hsl(var(--hue),90%,55%);
    font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1280 - 320));
  }
  .flex-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .card,
  .card__chip {
    overflow: hidden;
    position: relative;
  }
  .card,
  .card__chip-texture,
  .card__texture {
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  .card {
    animation-name: rotate;
    background-color: var(--primary);
    background-image:
      radial-gradient(circle at 100% 0%,hsla(0,0%,100%,0.08) 29.5%,hsla(0,0%,100%,0) 30%),
      radial-gradient(circle at 100% 0%,hsla(0,0%,100%,0.08) 39.5%,hsla(0,0%,100%,0) 40%),
      radial-gradient(circle at 100% 0%,hsla(0,0%,100%,0.08) 49.5%,hsla(0,0%,100%,0) 50%);
    border-radius: 0.5em;
    box-shadow:
      0 0 0 hsl(0,0%,80%),
      0 0 0 hsl(0,0%,100%),
      -0.2rem 0 0.75rem 0 hsla(0,0%,0%,0.3);
    color: hsl(0,0%,100%);
    width: 10.3em;
    height: 6.8em;
    transform: translate3d(0,0,0);
  }
  .card__info,
  .card__chip-texture,
  .card__texture {
    position: absolute;
  }
  .card__chip-texture,
  .card__texture {
    animation-name: texture;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
  }
  .card__info {
    font: 0.75em/1 "DM Sans", sans-serif;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.75rem;
    inset: 0;
  }
  .card__logo,
  .card__number {
    width: 100%;
  }
  .card__logo {
    font-weight: bold;
    font-style: italic;
  }
  .card__chip {
    background-image: linear-gradient(hsl(0,0%,70%),hsl(0,0%,80%));
    border-radius: 0.2rem;
    box-shadow: 0 0 0 0.05rem hsla(0,0%,0%,0.5) inset;
    width: 1.25rem;
    height: 1.25rem;
    transform: translate3d(0,0,0);
  }
  .card__chip-lines {
    width: 100%;
    height: auto;
  }
  .card__chip-texture {
    background-image: linear-gradient(-80deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0.6) 48% 52%,hsla(0,0%,100%,0));
  }
  .card__type {
    align-self: flex-end;
    margin-left: auto;
  }
  .card__digit-group,
  .card__exp-date,
  .card__name {
    background: linear-gradient(hsl(0,0%,100%),hsl(0,0%,85%) 15% 55%,hsl(0,0%,70%) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Courier Prime", monospace;
    filter: drop-shadow(0 0.05rem hsla(0,0%,0%,0.3));
  }
  .card__number {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
  }
  .card__valid-thru,
  .card__name {
    text-transform: uppercase;
  }
  .card__valid-thru,
  .card__exp-date {
    margin-bottom: 0.25rem;
    width: 30%;
  }
  .card__valid-thru {
    font-size: 0.3rem;
    padding-right: 0.25rem;
    text-align: left;
  }
  .card__exp-date,
  .card__name {
    font-size: 0.6rem;
  }
  .card__exp-date {
    padding-left: 0.25rem;
  }
  .card__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 6.25rem;
  }
  .card__vendor,
  .card__vendor:before,
  .card__vendor:after {
    position: absolute;
  }
  .card__vendor {
    right: 0.375rem;
    bottom: 0.375rem;
    width: 2.55rem;
    height: 1.5rem;
  }
  .card__vendor:before,
  .card__vendor:after {
    border-radius: 50%;
    content: "";
    display: block;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
  }
  .card__vendor:before {
    background-color: #e71d1a;
    left: 0;
  }
  .card__vendor:after {
    background-color: #fa5e03;
    box-shadow: -1.05rem 0 0 #f59d1a inset;
    right: 0;
  }
  .card__vendor-sr {
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
  }
  .card-in-hand{
    width: 500px;
    animation: rotate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  .card-in-hand img{
    max-width: 100%;
  }
  .card__texture {
    animation-name: texture;
    background-image: linear-gradient(-80deg,hsla(0,0%,100%,0.3) 25%,hsla(0,0%,100%,0) 45%);
  }
  
  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue),10%,30%);
      --fg: hsl(var(--hue),10%,90%);
    }
  }
  
  /* Animation */
  @keyframes rotate {
    from,
    to {
      animation-timing-function: ease-in;
      /* box-shadow:
        0 0 0 hsl(0,0%,80%),
        0.1rem 0 0 hsl(0,0%,100%),
        -0.2rem 0 0.75rem 0 hsla(0,0%,0%,0.3); */
      transform: rotateY(-30deg);
    }
    25%,
    75% {
      animation-timing-function: ease-out;
      /* box-shadow:
        0 0 0 hsl(0,0%,80%),
        0 0 0 hsl(0,0%,100%),
        -0.25rem -0.05rem 1rem 0.15rem hsla(0,0%,0%,0.3); */
      transform: rotateX(0deg);
    }
    50% {
      animation-timing-function: ease-in;
      /* box-shadow:
        -0.1rem 0 0 hsl(0,0%,80%),
        0 0 0 hsl(0,0%,100%),
        -0.3rem -0.1rem 1.5rem 0.3rem hsla(0,0%,0%,0.3); */
      transform: rotateX(-30deg);
    }
  }
  @keyframes texture {
    from,
    to {
      transform: translate3d(0,0,0);
    }
    50% {
      transform: translate3d(-50%,0,0);
    }
  }